doctype html
html
   head
     title employee pug
   body
       h1 Full Name:#{details.fullname}
       h1 Email: #{details.email}
        h1 Mobile:#{details.mobile}
         h1 City:#{details.city}
          h1 Profession:#{details.profession}
           h1 Industry:#{details.industry}